<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="itmediaengineering.duksung.ootd">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/> <!-- NETWORK_PROVIDER 만 지원 -->
    <uses-feature android:name="android.hardware.location.network"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <meta-data
        android:name="com.kakao.sdk.AppKey"
        android:value="d1fdc7581f2ca5d3b7e8f5ed7c7c1d68"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/closet_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/closet_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".search.view.SearchFilterPopUpActivity"
            android:theme="@style/CustomPopup"/>
        <activity android:name=".search.view.SearchActivity"/>
        <activity
            android:name=".main.tab.upload.EditCategoryPopUpActivity"
            android:theme="@style/CustomPopup"/>
        <activity
            android:name=".main.tab.mypage.view.EditPostPopUpActivity"
            android:theme="@style/CustomPopup"/>
        <activity android:name=".map.LocationDemoActivity"/>
        <activity android:name=".map.MapViewDemoActivity"/>
        <activity android:name=".chat_list.view.ChatListActivity"/>
        <activity android:name=".main.tab.detail.view.PostDetailActivity"/>
        <activity android:name=".main.tab.upload.UploadActivity"/>
        <activity android:name=".intro.IntroActivity"/>
        <activity
            android:name=".login.GoogleSignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
    </application>

</manifest>